In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn import preprocessing

In [3]:
from sklearn.metrics import precision_score

In [4]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import (KNeighborsClassifier,
                               NeighborhoodComponentsAnalysis)
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

In [6]:
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold


from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_selection import RFE

from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.metrics import classification_report,confusion_matrix
import sklearn.model_selection as model_selection

from random import sample

from sklearn import preprocessing

from sklearn.model_selection import validation_curve
from sklearn.pipeline import make_pipeline
from sklearn.metrics import make_scorer

from sklearn.metrics import accuracy_score

from sklearn.pipeline import Pipeline

from sklearn.model_selection import GridSearchCV

### Column Description

● store_id - The unique identifier of a store.

● product_id - The unique identifier of a product.

● date - Sales date (YYYY-MM-DD)

● sales - Sales quantity

● revenue - Daily total sales revenue

● stock - End of day stock quantity

● price - Product sales price

● promo_type_1 - Type of promotion applied on channel 1

● promo_bin_1 - Binned promotion rate for applied promo_type_1

● promo_type_2 - Type of promotion applied on channel 2

● promo_bin_2 - Binned promotion rate for applied promo_type_2

● promo_discount_2 - Discount rate for applied promo type 2

● promo_discount_type_2 - Type of discount applied

● product_length - Length of product

● product_depth - Depth of product

● product_width - Width of product

● hierarchy1_id

● hierarchy2_id

● hierarchy3_id

● hierarchy4_id

● hierarchy5_id

● storetype_id

● store_size

● city_id

● train_or_test - rows with train tag will be used to train KNNRegressor and rows with test
tag will be used for accuracy calculation

## Code

In [7]:
sales = pd.read_csv("sales.csv",parse_dates=["date"])
ph = pd.read_csv("product_hierarchy.csv")
store_cities = pd.read_csv("store_cities.csv")

In [8]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [9]:
print("Sales size: ", sales.shape)
print("Product Hierarchy size: ", ph.shape)
print("Store Cities size: ", store_cities.shape)

Sales size:  (19454838, 13)
Product Hierarchy size:  (699, 10)
Store Cities size:  (144, 4)

In [10]:
q1_submission = pd.read_csv("Q1/Q1_submission.csv")

In [11]:
q1_submission.shape

(3889065, 7)

In [12]:
q1_submission.head()

,product_id,store_id,date,train_or_test,product_feature,store_feature,time_feature
0,P0001,S0010,2018-01-01,train,NaN,NaN,NaN
1,P0001,S0015,2018-01-01,train,NaN,NaN,NaN
2,P0001,S0048,2018-01-01,train,NaN,NaN,NaN
3,P0001,S0050,2018-01-01,train,NaN,NaN,NaN
4,P0001,S0055,2018-01-01,train,NaN,NaN,NaN

In [228]:
q1_submission.date.min()

'2018-01-01'

In [229]:
q1_submission.date.max()

'2019-12-29'

In [230]:
sales= sales.merge(ph, on="product_id",how="inner")

In [231]:
sales= sales.merge(store_cities, on="store_id",how="inner")

In [232]:
sales.head(10)

,product_id,store_id,date,sales,revenue,stock,price,promo_type_1,promo_bin_1,promo_type_2,promo_bin_2,promo_discount_2,promo_discount_type_2,product_length,product_depth,product_width,cluster_id,hierarchy1_id,hierarchy2_id,hierarchy3_id,hierarchy4_id,hierarchy5_id,storetype_id,store_size,city_id
0,P0001,S0002,2017-01-02,0.0,0.00,8.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN,13.5,22.0,20.0,cluster_5,H01,H0105,H010501,H01050100,H0105010006,ST04,39,C007
1,P0001,S0002,2017-01-03,0.0,0.00,8.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN,13.5,22.0,20.0,cluster_5,H01,H0105,H010501,H01050100,H0105010006,ST04,39,C007
2,P0001,S0002,2017-01-04,0.0,0.00,8.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN,13.5,22.0,20.0,cluster_5,H01,H0105,H010501,H01050100,H0105010006,ST04,39,C007
3,P0001,S0002,2017-01-05,0.0,0.00,8.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN,13.5,22.0,20.0,cluster_5,H01,H0105,H010501,H01050100,H0105010006,ST04,39,C007
4,P0001,S0002,2017-01-06,0.0,0.00,8.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN,13.5,22.0,20.0,cluster_5,H01,H0105,H010501,H01050100,H0105010006,ST04,39,C007
5,P0001,S0002,2017-01-07,2.0,10.59,6.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN,13.5,22.0,20.0,cluster_5,H01,H0105,H010501,H01050100,H0105010006,ST04,39,C007
6,P0001,S0002,2017-01-08,0.0,0.00,6.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN,13.5,22.0,20.0,cluster_5,H01,H0105,H010501,H01050100,H0105010006,ST04,39,C007
7,P0001,S0002,2017-01-09,1.0,5.30,5.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN,13.5,22.0,20.0,cluster_5,H01,H0105,H010501,H01050100,H0105010006,ST04,39,C007
8,P0001,S0002,2017-01-10,0.0,0.00,5.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN,13.5,22.0,20.0,cluster_5,H01,H0105,H010501,H01050100,H0105010006,ST04,39,C007
9,P0001,S0002,2017-01-11,0.0,0.00,5.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN,13.5,22.0,20.0,cluster_5,H01,H0105,H010501,H01050100,H0105010006,ST04,39,C007

In [233]:
sales.drop(["promo_bin_2","promo_bin_1","promo_discount_2","promo_discount_type_2"],axis=1,inplace=True)

In [ ]:
sales.dropna(inplace=True)

In [ ]:
sales.shape

In [ ]:
sales.head()

In [ ]:
le = preprocessing.LabelEncoder()
le.fit(sales.product_id)
sales.product_id = le.transform(sales.product_id)

In [ ]:
le = preprocessing.LabelEncoder()
le.fit(sales.store_id)
sales.store_id = le.transform(sales.store_id)

In [ ]:
le = preprocessing.LabelEncoder()
le.fit(sales.promo_type_1)
sales.promo_type_1 = le.transform(sales.promo_type_1)

In [ ]:
le = preprocessing.LabelEncoder()
le.fit(sales.promo_type_2)
sales.promo_type_2 = le.transform(sales.promo_type_2)

In [ ]:
sales.head()

In [ ]:
sales['year'] = pd.DatetimeIndex(sales['date']).year
sales['month'] = pd.DatetimeIndex(sales['date']).month
sales['day'] = pd.DatetimeIndex(sales['date']).day

In [ ]:
sales.drop("date",axis=1,inplace=True)

In [ ]:
sales.head()

In [ ]:
sales.isna().sum()

In [ ]:
sales.sales.fillna(sales.sales.median(),inplace=True)

In [ ]:
sales.revenue.fillna(sales.revenue.median(),inplace=True)

In [ ]:
sales.stock.fillna(sales.stock.median(),inplace=True)

In [ ]:
sales.price.fillna(sales.price.median(),inplace=True)

In [ ]:
sales.isna().sum()

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
pca = PCA(n_components=1)

In [ ]:
pca.fit(sales)

In [ ]:
print(pca.explained_variance_ratio_)

In [ ]:
print(pca.singular_values_)

In [ ]:
len(pca.transform(sales))

In [ ]:
sales_reducted = pca.transform(sales)

In [ ]:
len(sales_reducted)

In [ ]:
ph.head()

In [ ]:
le = preprocessing.LabelEncoder()
le.fit(ph.product_id)
ph.product_id = le.transform(ph.product_id)

In [ ]:
le = preprocessing.LabelEncoder()
le.fit(ph.hierarchy1_id)
ph.hierarchy1_id = le.transform(ph.hierarchy1_id)

In [ ]:
le = preprocessing.LabelEncoder()
le.fit(ph.hierarchy2_id)
ph.hierarchy2_id = le.transform(ph.hierarchy2_id)

In [ ]:
le = preprocessing.LabelEncoder()
le.fit(ph.hierarchy3_id)
ph.hierarchy3_id = le.transform(ph.hierarchy3_id)

In [ ]:
le = preprocessing.LabelEncoder()
le.fit(ph.hierarchy4_id)
ph.hierarchy4_id = le.transform(ph.hierarchy4_id)

In [ ]:
le = preprocessing.LabelEncoder()
le.fit(ph.hierarchy5_id)
ph.hierarchy5_id = le.transform(ph.hierarchy5_id)

In [ ]:
ph.cluster_id.fillna("cluster_0",inplace=True)

In [ ]:
le = preprocessing.LabelEncoder()
le.fit(ph.cluster_id)
ph.cluster_id = le.transform(ph.cluster_id)

In [ ]:
ph.isna().sum()

In [ ]:
ph.product_length.fillna(ph.product_length.median(),inplace=True)

In [ ]:
ph.product_depth.fillna(ph.product_depth.median(),inplace=True)

In [ ]:
ph.product_width.fillna(ph.product_width.median(),inplace=True)

In [ ]:
ph.isna().sum()

In [ ]:
ph.head()

In [ ]:
pca = PCA(n_components=1)

In [ ]:
pca.fit(ph)

In [ ]:
print(pca.explained_variance_ratio_)

In [ ]:
print(pca.singular_values_)

In [ ]:
len(pca.transform(ph))

In [ ]:
ph_reducted = pca.transform(ph)

In [ ]:
len(ph_reducted)

In [ ]:
store_cities.head()

In [ ]:
store_cities.isna().sum()

In [ ]:
le = preprocessing.LabelEncoder()
le.fit(store_cities.store_id)
store_cities.store_id = le.transform(store_cities.store_id)

In [ ]:
le = preprocessing.LabelEncoder()
le.fit(store_cities.storetype_id)
store_cities.storetype_id = le.transform(store_cities.storetype_id)

In [ ]:
le = preprocessing.LabelEncoder()
le.fit(store_cities.city_id)
store_cities.city_id = le.transform(store_cities.city_id)

In [ ]:
store_cities.head()

In [ ]:
pca = PCA(n_components=1)

In [ ]:
pca.fit(store_cities)

In [ ]:
print(pca.explained_variance_ratio_)

In [ ]:
print(pca.singular_values_)

In [ ]:
len(pca.transform(store_cities))

In [ ]:
store_reducted = pca.transform(store_cities)

In [ ]:
len(store_reducted)

In [ ]:
q1_submission.shape

In [ ]:
sales_reducted

In [208]:
sales["sales_reducted"] = sales_reducted

In [209]:
sales.head()

,product_id,store_id,sales,revenue,stock,price,promo_type_1,promo_type_2,year,month,day,sales_reducted
0,0,1,0.0,0.00,8.0,6.25,12,2,2017,1,2,325.813084
1,0,11,1.0,5.30,0.0,6.25,12,2,2017,1,2,325.759297
2,0,12,2.0,10.59,0.0,6.25,12,2,2017,1,2,325.760826
3,0,22,0.0,0.00,6.0,6.25,12,2,2017,1,2,325.806824
4,0,24,0.0,0.00,1.0,6.25,12,2,2017,1,2,325.770787

In [210]:
ph["ph_reducted"] = ph_reducted

In [211]:
ph.head()

,product_id,product_length,product_depth,product_width,cluster_id,hierarchy1_id,hierarchy2_id,hierarchy3_id,hierarchy4_id,hierarchy5_id,ph_reducted
0,0,5.0,20.0,12.0,0,0,4,21,45,102,346.520938
1,1,13.5,22.0,20.0,5,1,5,25,52,116,345.919336
2,2,22.0,40.0,22.0,0,3,15,75,162,358,352.039162
3,3,2.0,13.0,4.0,3,3,14,69,152,334,350.400199
4,4,16.0,30.0,16.0,9,3,12,58,125,269,347.476927

In [212]:
store_cities["store_reducted"] = store_reducted

In [213]:
store_cities.head()

   store_id  storetype_id  store_size  city_id  store_reducted
0        90             3          19       12      -18.567761
1        11             3          28        4       60.739412
2        44             3          17        7       27.397490
3        31             2          14       18       40.196174
4        26             3          24       21       45.464092

In [217]:
from sklearn.neighbors import KNeighborsClassifier,KNeighborsRegressor

In [219]:
import sklearn

In [ ]:
knn = sklearn.neighbors.KNeighborsRegressor(
    n_neighbors=5, weights='uniform', algorithm='kd_tree', leaf_size=30, metric='euclidean')

In [ ]:
knn

In [ ]:
sales.shape

In [ ]:
X_train = sales
y_train = train.cluster_id[:500].values
X_test = test.drop("cluster_id",axis=1)
y_test = test.cluster_id.values